*/warnings.log
*/.ipynb_checkpoints
.DS_Store
src/.DS_Store
*.pyc
/test/catboost_info
*.pyc
.DS_Store
src/.DS_Store
.python-version
test/error*.log
test/ExampleGrids.py
test/Grids.py
test/MVGrids.py
test/VECMGrid.py
/src/SCALECAST.egg-info
docs/.DS_Store
docs/examples/avocado.csv
docs/.DS_Store
